<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" align="center">

    <h2>Categories</h2>
    <div th:each="category: ${categories}">
        <a th:href="'/courses?category='+${category.id}" th:text="${category.title}"></a>
    </div>
    <h2>Search</h2>
    <form action="/courses" method="GET">
        <input type="text" name="search" placeholder="Пошук курсів" th:value="${search}">
        <input type="submit" value="Пошук">
    </form>
    <h2>Courses</h2>

    <div th:each="el: ${courses}">
        <div class="media">
            <div class="media-body">
                <p th:text="'Name: '+${el.name}"></p>
                <p>Teacher: <strong th:text="${el.teacher.name}"></strong></p>
                <p>Category: <strong th:text="${el.category}"></strong></p>
                <p>Description: <strong th:text="${el.description}"></strong></p>
                <a th:href="'/courses/'+${el.id}" class="btn btn-primary">View in more detail</a>

                <form method="post" th:action="'/change_enroll_courses'">
                    <!--                    <div th:if="${el.user_enroll}">-->
                    <!--                    <button class="btn btn-primary" type="submit">Відписатись</button>-->
                    <!--                    </div>-->
                    <!--                    <div th:if="!${el.user_enroll}">-->
                    <!--                        <button class="btn btn-primary" type="submit">Зареєструватись</button>-->

                    <!--                    </div>-->
                    <div th:if="${userCourses}">
                        <div th:if="${userCourses.contains(el)}">
                            <button class="btn btn-primary" type="submit">Відписатись</button>
                        </div>
                        <div th:if="!${userCourses.contains(el)}">
                            <button class="btn btn-primary" type="submit">Зареєструватись</button>
                        </div>
                    </div>
                    <div th:if="!${userCourses}">
                        <button class="btn btn-primary" type="submit">Зареєструватись</button>
                    </div>
                    <input type="hidden" th:value="${el.id}" name="course_enroll">
                    <input type="hidden" value="/courses" name="page">

                </form>
            </div>
        </div>
        <hr>
    </div>
    <h3>Pagination</h3>
    <p><a href="">1</a> <a href="">2</a> <a href="">3</a></p>
</div>
</body>
</html>