<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"xmlns:fmt="http://www.w3.org/1999/XSL/Transform">
<head>
  <meta charset="UTF-8">
  <title>Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container" align="center">
  <h2>Test</h2>
  <form th:action="'/test/'+${test.id}" method="post" id="myForm">
    <div th:each="question: ${test.questions}">
      <div class="media">
        <div class="media-body">
          <h3 th:text="${question.title}"></h3>
          <fieldset id="${question.id}">
            <div th:each="answer: ${question.answers}">
              <input type="radio" th:name="${question.id}" th:id="${answer.id}"
                     th:value="${answer.id}" required>
              <label th:for="${answer.id}" th:text="${answer.title}"></label>
            </div>
          </fieldset>
        </div>
      </div>
      <hr>
    </div>
    <button class="btn btn-primary" type="submit">Відправити</button>
  </form>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>

</div>
</body>
</html>