<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="container" align="center">
    <h2>Test</h2>
    <h3>Timer</h3>
    <div id="timer" style="display:none;" th:text="${test.seconds}"></div>
    <div id="timerStr" th:text="${test.time}"></div>
    <form th:action="'/test/'+${test.id}" method="post" id="myForm">
        <div th:each="question: ${test.questions}">
            <div class="media">
                <div class="media-body">
                    <h3 th:text="${question.title}"></h3>
                    <fieldset id="${question.id}">
                        <div th:if="${question.type}=='ONE_ANSWER'">
                            <div th:each="answer: ${question.answers}">
                                <input type="radio" th:name="'one_'+${question.id}" th:id="${answer.id}"
                                       th:value="${answer.id}" required>
                                <label th:for="${answer.id}" th:text="${answer.title}"></label>
                            </div>
                        </div>

                        <div th:if="${question.type}=='SEVERAL_ANSWER'">
                            <div th:each="answer: ${question.answers}">
                                <input type="checkbox" th:name="'few_'+${question.id}+'_'+${answer.id}"
                                       th:id="${answer.id}"
                                       th:value="${answer.id}">
                                <label th:for="${answer.id}" th:text="${answer.title}"></label>
                            </div>
                        </div>

                        <div th:if="${question.type}=='WRITTEN_ANSWER'">
                            <div th:each="answer: ${question.answers}">
                                <input type="text" th:name="'write_'+${answer.id}" required>
                            </div>

                        </div>

                    </fieldset>
                </div>
            </div>
            <hr>
        </div>
        <button class="btn btn-primary" type="submit">Відправити</button>
    </form>


</div>
</body>
<script>
    window.addEventListener("beforeunload", function(event) {
     document.getElementById("myForm").submit();
});

window.addEventListener("unload", function(event) {
     document.getElementById("myForm").submit();
});
        // Функція, яка зменшує таймер і автоматично надсилає форму
        function countdown() {
            var timerElement = document.getElementById("timer");
            var timerStrElement = document.getElementById("timerStr");
            var seconds = parseInt(timerElement.innerText);
            if (seconds > 0) {
                seconds--;
                timerElement.innerText = seconds;
                timerStrElement.innerText = formatTime(seconds);
                setTimeout(countdown, 1000); // Оновлення таймера кожну секунду (1000 мілісекунд)
            } else {
                document.getElementById("myForm").submit();
            }
        }

        // Запускаємо таймер після завантаження сторінки
        window.onload = function () {
            setTimeout(countdown, 1000); // Початкове запуск таймера
        };


        function formatTime(seconds) {
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor((seconds % 3600) / 60);
            var remainingSeconds = seconds % 60;

            var formattedTime = "";
            if (hours > 0) {
                formattedTime += hours + " год ";
            }
            if (minutes > 0) {
                formattedTime += minutes + " хв ";
            }
            formattedTime += remainingSeconds + " сек";

            return formattedTime;
        }



</script>
</html>